.teacher-nav .nav-item a {
    color:white;
}

.teacher-nav .nav-item a:active {
    color:white !important;
}

.teacher-nav .nav-item a:hover {
    color:white !important;
    border-color: #198754 !important;
    background-color: #198754aa !important;
}