.about-us .carousel {
    margin-bottom: 50px;
}

.about-us .carousel-inner {
    background-color: transparent;
}

.about-us .carousel-item {
    position: relative;
}

.about-us .carousel-item img {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* Fix for flickering carousel */
.carousel-item-next {
    transition: transform 0s ease-in-out;
}

.carousel-item-prev {
    transition: transform 0s ease-in-out;
}

.carousel-item-left {
    transform: translateX(-100%);
}

.carousel-item-right {
    transform: translateX(100%);
}

/* End of fix */