.carousel {
    background-color: black
}

.carousel-item img {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    max-height: 300px;
}
/* Fix for flickering carousel */
.carousel-item-next {
    transition: transform 0s ease-in-out;
}

.carousel-item-prev {
    transition: transform 0s ease-in-out;
}

.carousel-item-left {
    transform: translateX(-100%);
}

.carousel-item-right {
    transform: translateX(100%);
}

/* End of fix */